.main {
  display: flex;
  align-items: center;
  font-size: 21px;
  padding: 10px 30px 10px 10px;
  margin: 1px 0;
  &__title {
    width: 100%;
  }
  &__input {
    width: 100%;
    border-style: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 21px;
    box-shadow: 0 0 0 2px #2d2d2d;
    text-align: center;
  }
  &__input:focus {
    box-shadow: 0 0 0 2px #2d2d2d, 0 0 20px 1px skyblue;
  }
  &__input-error {
    background-color: palevioletred;
    box-shadow:  0 0 0 1px red, 0 0 0 2px #2d2d2d, 0 0 20px 1px skyblue;
  }
  &__input-error.main__input:focus {
    box-shadow:  0 0 0 1px red, 0 0 0 2px #2d2d2d, 0 0 20px 1px skyblue;
  }
}
